.about-our-service {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(25.63% - 73px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: 1849px;
  white-space: nowrap;
  width: 285px;
}
.about-us5 {
  bottom: 254px;
  height: 18px;
  left: calc(22.47% - 11px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 51px;
}
.any-free-trial-or-ot {
  height: 257px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(42.31% - 109px);
  width: 640px;
}
.anything-that-you-po {
  bottom: calc(38.30% - 346px);
  height: 903px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.as-noted-above-you {
  height: 786px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: 1984px;
  width: 640px;
}
.assignment {
  bottom: calc(21.57% - 6px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.browse6 {
  bottom: 280px;
  height: 18px;
  left: calc(22.34% - 9px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 40px;
}
.by-using-the-service {
  bottom: calc(22.18% - 78px);
  height: 352px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.certain-services-fun {
  bottom: calc(35.23% - 204px);
  height: 580px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.changes {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(41.39% - 35px);
  top: 966px;
  white-space: nowrap;
  width: 84px;
}
.choice-of-law {
  bottom: calc(21.40% - 6px);
  height: 29px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 640px;
}
.contact-us5 {
  bottom: 153px;
  height: 18px;
  left: calc(22.58% - 14px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 60px;
}
.cost-of-the-service {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(37.72% - 71px);
  top: 1948px;
  white-space: nowrap;
  width: 189px;
}
.couriers {
  bottom: calc(26.00% - 8px);
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 388px;
}
.delays {
  bottom: 2922px;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.delivery {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(23.91% - 7px);
  white-space: nowrap;
  width: 388px;
}
.digital-gift-cards-a {
  height: 154px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(46.32% - 71px);
  width: 640px;
}
.editorial6 {
  bottom: 178px;
  height: 18px;
  left: calc(22.40% - 10px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 45px;
}
.email-subscription5 {
  bottom: 752px;
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(49.05% - 144px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 294px;
}
.entire-agreement {
  bottom: 2769px;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.expiration-and-fees {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(46.10% - 13px);
  white-space: nowrap;
  width: 388px;
}
.export-control {
  bottom: calc(24.73% - 7px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.fa-qs5 {
  bottom: 228px;
  height: 18px;
  left: calc(22.21% - 6px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 29px;
}
.faq5 {
  height: 22px;
  left: calc(22.17% - 7px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 30px;
}
.filtering {
  bottom: calc(20.66% - 6px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.general-conditions {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(44.71% - 13px);
  white-space: nowrap;
  width: 388px;
}
.gift-cards {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(23.83% - 39px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: calc(44.15% - 19px);
  white-space: nowrap;
  width: 162px;
}
.gift-cards-may-be-pu {
  height: 154px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(45.35% - 70px);
  width: 640px;
}
.group-53 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  position: absolute;
  right: 0px;
  top: 1px;
  width: 12px;
}
.group-63 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: calc(34.59% - 4px);
  position: absolute;
  top: 1px;
  width: 12px;
}
.group-73 {
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  right: calc(32.50% - 4px);
  top: 1px;
  width: 12px;
}
.group-85 {
  bottom: 295px;
  height: 12px;
  position: absolute;
  right: calc(29.40% - 23px);
  width: 79px;
}
.how-it-works {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(49.86% - 14px);
  white-space: nowrap;
  width: 388px;
}
.how-payments-work {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(29.09% - 8px);
  white-space: nowrap;
  width: 388px;
}
.if-the-amount-to-be {
  height: 279px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(34.08% - 95px);
  width: 640px;
}
.if-you-are-a-consume {
  bottom: 2235px;
  height: 330px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.if-you-do-not-return {
  height: 499px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: 2834px;
  width: 640px;
}
.if-you-have-an-accou {
  bottom: calc(48.85% - 187px);
  height: 382px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.if-you-have-any-ques {
  bottom: 1131px;
  height: 176px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.if-you-purchase-a-me {
  height: 220px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 2390px;
  width: 640px;
}
.if-you-purchase-a-pr {
  height: 220px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 2674px;
  width: 640px;
}
.if-you-rent-a-produc {
  height: 88px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 2236px;
  width: 640px;
}
.in-addition-to-the-g {
  height: 110px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(47.34% - 52px);
  width: 640px;
}
.in-addition-to-your {
  bottom: calc(31.55% - 160px);
  height: 506px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.indemnity {
  bottom: calc(23.55% - 7px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.late-fees {
  height: 29px;
  left: calc(22.87% - 20px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: 2800px;
  white-space: nowrap;
  width: 88px;
}
.line-44 {
  height: 5px;
  left: calc(46.99% - 67px);
  position: absolute;
  top: 292px;
  width: 142px;
}
.log-in10 {
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(40.55% - 17px);
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 41px;
}
.membership-services {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(37.37% - 75px);
  top: 2354px;
  white-space: nowrap;
  width: 202px;
}
.membership6 {
  bottom: 203px;
  height: 18px;
  left: calc(22.69% - 16px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.miscellaneous2 {
  bottom: calc(29.56% - 12px);
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(24.82% - 58px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  white-space: nowrap;
  width: 232px;
}
.nav8 {
  height: 79px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.neither-the-mercer-c {
  bottom: calc(26.05% - 170px);
  height: 653px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.our-content {
  bottom: calc(46.17% - 13px);
  height: 29px;
  left: calc(23.25% - 27px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 118px;
}
.our-services-may-all {
  bottom: calc(35.25% - 54px);
  height: 154px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.path-133 {
  height: calc(100.00% - 2px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 13px;
}
.path-2928 {
  bottom: calc(12.57% - 1px);
  height: 7px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 13px;
}
.path-313 {
  height: calc(100.00% - 5px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 5px);
}
.path-323 {
  height: 3px;
  left: calc(49.94% - 2px);
  position: absolute;
  top: calc(49.94% - 2px);
  width: 3px;
}
.place-1 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(42.40% - 22px);
  top: 2638px;
  white-space: nowrap;
  width: 52px;
}
.place2 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(41.51% - 32px);
  top: 2200px;
  white-space: nowrap;
  width: 77px;
}
.placeholder-person8 {
  border-radius: 14.5px;
  height: 29px;
  position: absolute;
  right: 205px;
  top: calc(50.00% - 14px);
  width: 29px;
}
.please-read-the-foll {
  bottom: calc(19.58% - 39px);
  height: 198px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.privacy {
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(40.90% - 39px);
  top: 1508px;
  white-space: nowrap;
  width: 96px;
}
.privacy-policy-14 {
  bottom: 228px;
  height: 18px;
  left: calc(46.56% - 34px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 73px;
}
.privacy-policy6 {
  height: 22px;
  left: calc(37.49% - 34px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 90px;
}
.ratings-and-reviews {
  bottom: calc(35.94% - 10px);
  height: 29px;
  left: calc(24.28% - 47px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 194px;
}
.rectangle-245 {
  background-color: var(--black);
  bottom: 517px;
  height: 413px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.rectangle-2558 {
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-575 {
  background-color: var(--white);
  border-radius: 27px;
  bottom: 669px;
  height: 53px;
  left: calc(50.00% - 464px);
  position: absolute;
  width: 928px;
}
.rectangle-585 {
  background-color: var(--fire-bush);
  border-radius: 24px;
  bottom: 675px;
  height: 41px;
  position: absolute;
  right: calc(29.23% - 58px);
  width: 199px;
}
.redemption-and-use {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(44.79% - 13px);
  white-space: nowrap;
  width: 388px;
}
.referral-program {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(25.61% - 73px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: calc(49.30% - 21px);
  white-space: nowrap;
  width: 284px;
}
.rental-policy-14 {
  bottom: 280px;
  height: 18px;
  left: calc(46.46% - 32px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.rental-policy6 {
  height: 22px;
  left: calc(28.66% - 24px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 85px;
}
.sign-up8 {
  height: 18px;
  left: calc(40.19% - 20px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 49px;
}
.some-of-the-paid-ser {
  height: 646px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(30.43% - 197px);
  width: 640px;
}
.span06 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
}
.span17 {
  color: rgba(231,148,42,1.0);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
}
.span18 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-style: italic;
}
.span3 {
  color: rgba(0,0,0,1.0);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
}
.taxes {
  bottom: 3272px;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.terms-conditions-14 {
  height: 22px;
  left: calc(46.87% - 62px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 132px;
}
.terms-conditions-2 {
  bottom: 254px;
  height: 18px;
  left: calc(47.41% - 50px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 106px;
}
.terms-conditions5 {
  background-color: var(--white);
  height: 100vh;
  min-height: 16716px;
  min-width: 1920px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.terms-conditions6 {
  color: var(--black-haze);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 200px;
  font-weight: 900;
  height: 479px;
  left: -18px;
  letter-spacing: 1.60px;
  line-height: 184px;
  opacity: 0.7;
  position: absolute;
  top: 885px;
  width: calc(100.00% - 38px);
}
.text-100 {
  bottom: 234px;
  color: var(--gray);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 12px;
  height: 59px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(26.09% - 42px);
  width: 161px;
}
.text-101 {
  bottom: 683px;
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(30.11% - 45px);
  white-space: nowrap;
  width: 150px;
}
.text-102 {
  bottom: 680px;
  color: var(--silver);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  height: 22px;
  left: calc(30.96% - 55px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
  width: 179px;
}
.text-61 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  height: 18px;
  left: calc(25.01% - 61px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 342px;
  white-space: nowrap;
  width: 245px;
}
.text-62 {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(26.76% - 93px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: 868px;
  white-space: nowrap;
  width: 347px;
}
.text-63 {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: 1948px;
  white-space: nowrap;
  width: 388px;
}
.text-64 {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(36.76% - 11px);
  white-space: nowrap;
  width: 388px;
}
.text-65 {
  bottom: calc(29.03% - 8px);
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 388px;
}
.text-66 {
  bottom: calc(23.90% - 7px);
  height: 29px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 640px;
}
.text-67 {
  bottom: 3097px;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.text-68 {
  bottom: 2572px;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.text-69 {
  bottom: 1364px;
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 43px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  white-space: nowrap;
  width: 640px;
}
.text-70 {
  bottom: calc(20.61% - 6px);
  height: 29px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 640px;
}
.text-71 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(49.86% - 14px);
  white-space: nowrap;
  width: 388px;
}
.text-72 {
  bottom: calc(29.03% - 8px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  white-space: nowrap;
  width: 388px;
}
.text-73 {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(45.76% - 13px);
  white-space: nowrap;
  width: 388px;
}
.text-74 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(46.89% - 14px);
  white-space: nowrap;
  width: 388px;
}
.text-75 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(47.94% - 14px);
  white-space: nowrap;
  width: 388px;
}
.text-76 {
  height: 29px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(47.07% - 14px);
  white-space: nowrap;
  width: 640px;
}
.text-77 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  top: calc(36.76% - 11px);
  white-space: nowrap;
  width: 640px;
}
.text-78 {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(33.53% - 10px);
  white-space: nowrap;
  width: 388px;
}
.text-79 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(33.35% - 10px);
  white-space: nowrap;
  width: 388px;
}
.text-80 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 204px;
  top: calc(29.09% - 8px);
  white-space: nowrap;
  width: 640px;
}
.text-81 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(25.62% - 7px);
  white-space: nowrap;
  width: 388px;
}
.text-82 {
  height: 29px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(22.99% - 7px);
  white-space: nowrap;
  width: 640px;
}
.text-83 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.77% - 115px);
  top: calc(21.41% - 6px);
  white-space: nowrap;
  width: 388px;
}
.text-84 {
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(35.22% - 91px);
  top: 2925px;
  white-space: nowrap;
  width: 259px;
}
.text-85 {
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 1544px;
  width: 640px;
}
.text-86 {
  bottom: 1285px;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  white-space: nowrap;
  width: 640px;
}
.text-87 {
  bottom: calc(21.01% - 14px);
  height: 66px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.text-88 {
  bottom: calc(45.85% - 30px);
  height: 66px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.text-89 {
  height: 66px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(46.42% - 31px);
  width: 640px;
}
.text-90 {
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(48.20% - 21px);
  width: 640px;
}
.text-91 {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(35.06% - 254px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: calc(20.84% - 9px);
  white-space: nowrap;
  width: 725px;
}
.text-92 {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(29.70% - 151px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: calc(36.20% - 15px);
  white-space: nowrap;
  width: 509px;
}
.text-93 {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(28.18% - 122px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: calc(41.18% - 17px);
  white-space: nowrap;
  width: 433px;
}
.text-94 {
  bottom: calc(47.01% - 20px);
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(34.15% - 237px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  white-space: nowrap;
  width: 693px;
}
.text-95 {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(26.35% - 87px);
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  top: calc(28.52% - 12px);
  white-space: nowrap;
  width: 330px;
}
.text-96 {
  bottom: calc(37.57% - 11px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(37.44% - 75px);
  white-space: nowrap;
  width: 200px;
}
.text-97 {
  bottom: calc(34.63% - 10px);
  height: 29px;
  left: calc(25.75% - 75px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 293px;
}
.text-98 {
  bottom: calc(33.71% - 10px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(29.67% - 116px);
  white-space: nowrap;
  width: 390px;
}
.text-99 {
  bottom: 228px;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(25.50% - 45px);
  white-space: nowrap;
  width: 175px;
}
.the-digital-millenni {
  bottom: calc(33.57% - 81px);
  height: 242px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.the-failure-of-eithe {
  bottom: 2980px;
  height: 110px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.the-following-additi {
  height: 110px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(45.14% - 50px);
  width: 640px;
}
.the-mercer-club-15 {
  bottom: calc(47.83% - 16px);
  height: 33px;
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  right: calc(49.94% - 109px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.the-mercer-club-may {
  bottom: calc(24.63% - 70px);
  height: 286px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.the-mercer-club8 {
  bottom: 294px;
  height: 33px;
  left: calc(24.68% - 54px);
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.there-may-be-delays {
  bottom: 2827px;
  height: 88px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.to-the-fullest-exten {
  bottom: calc(27.02% - 119px);
  height: 440px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.tyler-nix-vz-ej-epz-ka-unsplash {
  height: 413px;
  left: 200px;
  position: absolute;
  top: 375px;
  width: calc(100.00% - 406px);
}
.use-of-the-products {
  height: 29px;
  left: calc(27.35% - 106px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(21.41% - 6px);
  white-space: nowrap;
  width: 388px;
}
.use-restrictions {
  bottom: calc(46.17% - 13px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(39.17% - 59px);
  white-space: nowrap;
  width: 151px;
}
.we-andor-our-suppli {
  bottom: calc(43.79% - 296px);
  height: 675px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.we-hereby-notify-you {
  bottom: calc(20.05% - 22px);
  color: var(--black);
  font-family: "Nunito Sans", Helvetica, Arial, serif;
  font-size: 15px;
  height: 110px;
  letter-spacing: -0.27px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.we-may-at-any-time {
  height: 477px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 1002px;
  width: 640px;
}
.we-may-but-are-not {
  height: 242px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(37.46% - 91px);
  width: 640px;
}
.we-may-charge-you-to {
  height: 191px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 1980px;
  width: 640px;
}
.we-may-from-time-to {
  height: 110px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(25.96% - 29px);
  width: 640px;
}
.we-may-in-our-sole {
  height: 352px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(22.06% - 78px);
  width: 640px;
}
.welcome-to-the-merce {
  height: 742px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: 966px;
  width: 640px;
}
.when-you-place-a-ren {
  height: 675px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(30.49% - 206px);
  width: 640px;
}
.with-the-delivery-of {
  height: 330px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: 2960px;
  width: 640px;
}
.x-arbitration-rules {
  bottom: 1546px;
  height: 1681px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.x-infringes-misappr {
  bottom: calc(41.33% - 505px);
  height: 1222px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-agree-to-indemni {
  bottom: calc(22.23% - 59px);
  height: 264px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-agree-to-return {
  height: 742px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(24.24% - 180px);
  width: 640px;
}
.you-agree-to-treat-t {
  height: 198px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(21.85% - 43px);
  width: 640px;
}
.you-and-the-mercer-c {
  bottom: 2630px;
  height: 132px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-are-also-respons {
  bottom: calc(38.02% - 25px);
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  height: 66px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-are-responsible {
  bottom: calc(24.04% - 32px);
  height: 132px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-may-not-assign {
  bottom: calc(21.08% - 19px);
  height: 88px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-may-not-redeem-i {
  bottom: calc(48.98% - 166px);
  height: 338px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.you-may-terminate-yo {
  height: 507px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(38.07% - 193px);
  width: 640px;
}
.you-must-provide-cur {
  height: 264px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(34.22% - 90px);
  width: 640px;
}
.you-must-provide-us {
  height: 220px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(24.41% - 54px);
  width: 640px;
}
.you-should-treat-you {
  height: 154px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(47.64% - 73px);
  width: 640px;
}
.you-will-be-responsi {
  bottom: 3155px;
  height: 110px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.your-content {
  bottom: calc(41.74% - 12px);
  height: 29px;
  left: calc(23.34% - 29px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 125px;
}
