.about-us10 {
  bottom: 253px;
  height: 18px;
  left: calc(22.47% - 11px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 51px;
}
.account2 {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 218px;
  white-space: nowrap;
  width: 56px;
}
.announcements {
  bottom: 6px;
  color: var(--white);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 900;
  height: 71px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(46.02% - 179px);
  white-space: nowrap;
  width: 390px;
}
.brand-website {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 398px;
  white-space: nowrap;
  width: 98px;
}
.browse11 {
  bottom: 279px;
  height: 18px;
  left: calc(22.34% - 9px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 40px;
}
.component-21-16 {
  background-size: 100% 100%;
  height: 21px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 10px);
  width: 21px;
}
.component-22-16 {
  height: 21px;
  left: 224px;
  position: absolute;
  top: calc(44.84% - 9px);
  width: 522px;
}
.contact-us9 {
  bottom: 152px;
  height: 18px;
  left: calc(22.58% - 14px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 60px;
}
.dashboard {
  background-color: var(--white);
  height: 100vh;
  min-height: 2528px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}
.editorial11 {
  bottom: 177px;
  height: 18px;
  left: calc(22.40% - 10px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 45px;
}
.email-subscription9 {
  bottom: calc(30.19% - 13px);
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(49.05% - 144px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 294px;
}
.fa-qs9 {
  bottom: 227px;
  height: 18px;
  left: calc(22.21% - 6px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 29px;
}
.favorites {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 368px;
  white-space: nowrap;
  width: 61px;
}
.favorites-1 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 700;
  height: 71px;
  left: calc(30.65% - 67px);
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  top: calc(20.25% - 14px);
  white-space: nowrap;
  width: 217px;
}
.gallery {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 338px;
  white-space: nowrap;
  width: 48px;
}
.group-13 {
  background-size: 100% 100%;
  height: 179px;
  position: absolute;
  right: 206px;
  top: 150px;
  width: 1294px;
}
.group-14 {
  background-size: 100% 100%;
  bottom: calc(47.51% - 85px);
  height: 179px;
  position: absolute;
  right: 206px;
  width: 1294px;
}
.group-1736 {
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  right: 323px;
  top: 0px;
  width: 21px;
}
.group-57 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  position: absolute;
  right: 0px;
  top: 1px;
  width: 12px;
}
.group-67 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: calc(34.59% - 4px);
  position: absolute;
  top: 1px;
  width: 12px;
}
.group-811 {
  bottom: 294px;
  height: 12px;
  position: absolute;
  right: calc(29.40% - 23px);
  width: 79px;
}
.guccimiu-miu {
  bottom: calc(26.28% - 11px);
  color: var(--gray);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 900;
  height: 42px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(46.67% - 29px);
  white-space: nowrap;
  width: 62px;
}
.line-2-13 {
  height: 2px;
  position: absolute;
  right: calc(31.93% - 2px);
  top: calc(49.93% - 1px);
  width: 7px;
}
.line-29 {
  bottom: calc(49.93% - 1px);
  height: 2px;
  left: calc(31.93% - 2px);
  position: absolute;
  width: 7px;
}
.log-in-13 {
  height: 21px;
  position: absolute;
  right: calc(25.80% - 90px);
  top: calc(44.84% - 9px);
  width: 350px;
}
.log-in15 {
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(40.55% - 17px);
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 41px;
}
.log-out {
  color: var(--fire-bush);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: fixed;
  top: 424px;
  white-space: nowrap;
  width: 58px;
}
.membership10 {
  bottom: 202px;
  height: 18px;
  left: calc(22.69% - 16px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.menu {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 20px;
  font-weight: 700;
  height: 29px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  top: 152px;
  white-space: nowrap;
  width: 53px;
}
.nav12 {
  height: 79px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.new-arrivals4 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 900;
  height: 71px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(45.07% - 140px);
  top: calc(39.35% - 28px);
  white-space: nowrap;
  width: 311px;
}
.nikeoff-white {
  bottom: calc(26.28% - 11px);
  color: var(--gray);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 900;
  height: 42px;
  left: calc(46.22% - 35px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
  width: 76px;
}
.order-history {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 278px;
  white-space: nowrap;
  width: 92px;
}
.order-history-1 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 700;
  height: 71px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: 251px;
  top: calc(20.25% - 14px);
  white-space: nowrap;
  width: 326px;
}
.path-137 {
  height: calc(100.00% - 2px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: 13px;
}
.path-29212 {
  bottom: calc(12.57% - 1px);
  height: 7px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 13px;
}
.path-5-13 {
  height: 12px;
  left: calc(31.78% - 2px);
  position: absolute;
  top: calc(49.13% - 6px);
  width: 7px;
}
.path-516 {
  bottom: calc(49.13% - 6px);
  height: 12px;
  position: absolute;
  right: calc(31.78% - 2px);
  width: 7px;
}
.payment {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 248px;
  white-space: nowrap;
  width: 59px;
}
.place3 {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 188px;
  white-space: nowrap;
  width: 42px;
}
.placeholder-person12 {
  border-radius: 14.5px;
  height: 29px;
  position: absolute;
  right: 205px;
  top: calc(50.00% - 14px);
  width: 29px;
}
.privacy-policy10 {
  bottom: 227px;
  height: 18px;
  left: calc(46.56% - 34px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 73px;
}
.profile {
  height: 22px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: fixed;
  top: 308px;
  white-space: nowrap;
  width: 44px;
}
.profile-1 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 700;
  height: 71px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(44.27% - 69px);
  top: calc(20.25% - 14px);
  white-space: nowrap;
  width: 156px;
}
.rectangle-249 {
  background-color: var(--black);
  bottom: calc(24.40% - 101px);
  height: 413px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.rectangle-25512 {
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-579 {
  background-color: var(--white);
  border-radius: 27px;
  bottom: calc(26.99% - 14px);
  height: 53px;
  left: calc(50.00% - 464px);
  position: absolute;
  width: 928px;
}
.rectangle-589 {
  background-color: var(--fire-bush);
  border-radius: 24px;
  bottom: calc(27.10% - 11px);
  height: 41px;
  position: absolute;
  right: calc(29.23% - 58px);
  width: 199px;
}
.rectangle-84 {
  background-color: var(--silver);
  height: 867px;
  left: calc(27.96% - 117px);
  position: absolute;
  top: 347px;
  width: 418px;
}
.rectangle-85 {
  background-color: var(--silver);
  height: 390px;
  position: absolute;
  right: calc(42.88% - 179px);
  top: 347px;
  width: 418px;
}
.rectangle-86 {
  background-color: var(--silver);
  height: 457px;
  position: absolute;
  right: calc(42.88% - 179px);
  top: calc(36.55% - 167px);
  width: 418px;
}
.rectangle-87 {
  background-color: var(--silver);
  height: 867px;
  position: absolute;
  right: 206px;
  top: 347px;
  width: 418px;
}
.rectangle-94 {
  background-color: var(--black);
  height: 100%;
  left: 0px;
  mix-blend-mode: saturation;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rental-policy10 {
  bottom: 279px;
  height: 18px;
  left: calc(46.46% - 32px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.sign-up12 {
  height: 18px;
  left: calc(40.19% - 20px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 49px;
}
.span012 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
}
.span114 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-style: italic;
}
.span4 {
  color: rgba(126,126,126,1.0);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-weight: 900;
}
.terms-conditions10 {
  bottom: 253px;
  height: 18px;
  left: calc(47.41% - 50px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 106px;
}
.text-157 {
  bottom: 227px;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(25.50% - 45px);
  white-space: nowrap;
  width: 175px;
}
.text-158 {
  bottom: 233px;
  color: var(--gray);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 12px;
  height: 59px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(26.09% - 42px);
  width: 161px;
}
.text-159 {
  bottom: calc(27.17% - 5px);
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(30.11% - 45px);
  white-space: nowrap;
  width: 150px;
}
.text-160 {
  bottom: calc(27.11% - 6px);
  color: var(--silver);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  height: 22px;
  left: calc(30.96% - 55px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
  width: 179px;
}
.the-mercer-club-19 {
  bottom: calc(47.83% - 16px);
  height: 33px;
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  right: calc(49.94% - 109px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.the-mercer-club12 {
  bottom: 293px;
  height: 33px;
  left: calc(24.68% - 54px);
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.userphoto-gallery {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 700;
  height: 140px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(43.21% - 140px);
  text-align: center;
  top: calc(36.56% - 51px);
  white-space: nowrap;
  width: 323px;
}
.yeezyfear-of-god {
  bottom: calc(26.28% - 11px);
  color: var(--gray);
  font-family: "Nunito Sans", Helvetica, Arial, serif;
  font-size: 15px;
  height: 42px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(38.05% - 40px);
  white-space: nowrap;
  width: 106px;
}
