.browse {
  letter-spacing: 0.00px;
  line-height: 30px;
  min-height: 22px;
  min-width: 50px;
  white-space: nowrap;
}
.editorial {
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 58px;
  min-height: 22px;
  min-width: 56px;
  white-space: nowrap;
}
.group-179 {
  align-items: flex-end;
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  display: flex;
  height: 79px;
  left: 0px;
  min-width: 1920px;
  padding: 16px 805.5px;
  position: absolute;
  top: 0px;
}
.group-17910 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-17911 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-17912 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1792 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1793 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1794 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1795 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1796 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1797 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1798 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.group-1799 {
  align-items: unset;
  display: unset;
  height: 100%;
  min-width: unset;
  padding: unset;
  width: 100%;
}
.membership {
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 60px;
  min-height: 22px;
  min-width: 85px;
  white-space: nowrap;
}
