.component-21-14 {
  background-size: 100% 100%;
  height: 21px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 10px);
  width: 21px;
}
.component-22-14 {
  height: 21px;
  left: 224px;
  position: absolute;
  top: calc(44.84% - 9px);
  width: 522px;
}
.line-27 {
  height: 2px;
  position: absolute;
  right: calc(31.93% - 2px);
  top: calc(49.93% - 1px);
  width: 7px;
}
.path-514 {
  height: 12px;
  left: calc(31.78% - 2px);
  position: absolute;
  top: calc(49.13% - 6px);
  width: 7px;
}
