.categories2 {
  color: var(--gray);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: italic;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 101px;
  top: calc(43.55% - 8px);
  white-space: nowrap;
  width: 60px;
}
.chris-henry-4g-m-ts-e-unsplash {
  bottom: 150px;
  height: 382px;
  left: calc(32.74% - 209px);
  position: absolute;
  width: 637px;
}
.img2587 {
  height: calc(100.00% - 300px);
  position: absolute;
  right: calc(28.30% - 118px);
  top: 150px;
  width: 418px;
}
.justin-chrn-qt-pi-vu-unsplash {
  height: calc(100.00% - 300px);
  position: absolute;
  right: 206px;
  top: 150px;
  width: 199px;
}
.last-chance2 {
  background-color: var(--white);
  height: 100vh;
  min-height: 1080px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}
.log-in5 {
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(40.55% - 17px);
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 41px;
}
.nav4 {
  height: 79px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.new-arrivals3 {
  color: var(--gray);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: italic;
  height: 18px;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: calc(43.55% - 8px);
  white-space: nowrap;
  width: 71px;
}
.nqobile-vundla-c4m-i-unsplash {
  height: 382px;
  left: 201px;
  position: absolute;
  top: 150px;
  width: 418px;
}
.path-292-13 {
  bottom: calc(12.57% - 1px);
  height: 7px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 13px;
}
.path-2924 {
  height: 30px;
  position: absolute;
  right: 114px;
  top: calc(41.00% - 12px);
  width: 16px;
}
.path-4243 {
  height: 30px;
  left: 117px;
  position: absolute;
  top: calc(41.00% - 12px);
  width: 16px;
}
.placeholder-person4 {
  border-radius: 14.5px;
  height: 29px;
  position: absolute;
  right: 205px;
  top: calc(50.00% - 14px);
  width: 29px;
}
.rectangle-2554 {
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.sign-up4 {
  height: 18px;
  left: calc(40.19% - 20px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 49px;
}
.taylor-x-w4c-bp-lo-bm-unsplash {
  bottom: 150px;
  height: 382px;
  left: 201px;
  position: absolute;
  width: 199px;
}
.the-mercer-club4 {
  bottom: calc(47.83% - 16px);
  height: 33px;
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  right: calc(49.94% - 109px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.x90541-f7-e-3-b3-a3-f81-de4jpeg {
  height: 382px;
  left: calc(42.54% - 178px);
  position: absolute;
  top: 150px;
  width: 418px;
}
