.group-1722 {
  height: 100%;
  left: 102.49%;
  position: relative;
  width: 99.04%;
}
.mask-group-13 {
  height: 19px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 522px;
}
