.about-us7 {
  bottom: 254px;
  height: 18px;
  left: calc(22.47% - 11px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 51px;
}
.accesories-1-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: calc(18.16% - 75px);
  width: 420px;
}
.accessories2 {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 423px;
  white-space: nowrap;
  width: 82px;
}
.amiri-1-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: calc(25.51% - 105px);
  width: 420px;
}
.bag-1-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: calc(25.51% - 105px);
  width: 420px;
}
.bags2 {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 540px;
  white-space: nowrap;
  width: 36px;
}
.browse8 {
  background-color: var(--white);
  height: 100vh;
  min-height: 8088px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}
.browse9 {
  bottom: 280px;
  height: 18px;
  left: calc(22.34% - 9px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 40px;
}
.contact-us7 {
  bottom: 153px;
  height: 18px;
  left: calc(22.58% - 14px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 60px;
}
.ct08566001-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: calc(25.51% - 105px);
  width: 420px;
}
.dior-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: calc(32.86% - 135px);
  width: 420px;
}
.diorkaws2400x-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: calc(32.86% - 135px);
  width: 420px;
}
.editorial9 {
  bottom: 178px;
  height: 18px;
  left: calc(22.40% - 10px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 45px;
}
.email-subscription7 {
  bottom: 752px;
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(49.05% - 144px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 294px;
}
.ezgif-1-9d2e367-x2400x-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: calc(32.86% - 135px);
  width: 420px;
}
.fa-qs7 {
  bottom: 228px;
  height: 18px;
  left: calc(22.21% - 6px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 29px;
}
.footwear {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 384px;
  white-space: nowrap;
  width: 68px;
}
.group-28 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: 640px;
  width: 22px;
}
.group-28-1 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: 640px;
  width: 22px;
}
.group-28-10 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: calc(28.90% - 6px);
  width: 22px;
}
.group-28-11 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: calc(28.90% - 6px);
  width: 22px;
}
.group-28-12 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: calc(35.89% - 7px);
  width: 22px;
}
.group-28-13 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: calc(35.89% - 7px);
  width: 22px;
}
.group-28-14 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: calc(35.89% - 7px);
  width: 22px;
}
.group-28-15 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: calc(42.89% - 9px);
  width: 22px;
}
.group-28-16 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: calc(42.89% - 9px);
  width: 22px;
}
.group-28-17 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: calc(42.89% - 9px);
  width: 22px;
}
.group-28-18 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: calc(49.88% - 10px);
  width: 22px;
}
.group-28-19 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: calc(49.88% - 10px);
  width: 22px;
}
.group-28-2 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: 640px;
  width: 22px;
}
.group-28-20 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: calc(49.88% - 10px);
  width: 22px;
}
.group-28-21 {
  background-size: 100% 100%;
  bottom: calc(43.13% - 9px);
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  width: 22px;
}
.group-28-22 {
  background-size: 100% 100%;
  bottom: calc(43.13% - 9px);
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  width: 22px;
}
.group-28-23 {
  background-size: 100% 100%;
  bottom: calc(43.13% - 9px);
  height: 20px;
  position: absolute;
  right: 221px;
  width: 22px;
}
.group-28-24 {
  background-size: 100% 100%;
  bottom: calc(36.14% - 7px);
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  width: 22px;
}
.group-28-25 {
  background-size: 100% 100%;
  bottom: calc(36.14% - 7px);
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  width: 22px;
}
.group-28-26 {
  background-size: 100% 100%;
  bottom: calc(36.14% - 7px);
  height: 20px;
  position: absolute;
  right: 221px;
  width: 22px;
}
.group-28-27 {
  background-size: 100% 100%;
  bottom: calc(29.15% - 6px);
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  width: 22px;
}
.group-28-28 {
  background-size: 100% 100%;
  bottom: calc(29.15% - 6px);
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  width: 22px;
}
.group-28-29 {
  background-size: 100% 100%;
  bottom: calc(29.15% - 6px);
  height: 20px;
  position: absolute;
  right: 221px;
  width: 22px;
}
.group-28-3 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: 1204px;
  width: 22px;
}
.group-28-4 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: 1204px;
  width: 22px;
}
.group-28-5 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: 1204px;
  width: 22px;
}
.group-28-6 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: calc(21.91% - 4px);
  width: 22px;
}
.group-28-7 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  top: calc(21.91% - 4px);
  width: 22px;
}
.group-28-8 {
  background-size: 100% 100%;
  height: 20px;
  position: absolute;
  right: 221px;
  top: calc(21.91% - 4px);
  width: 22px;
}
.group-28-9 {
  background-size: 100% 100%;
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  top: calc(28.90% - 6px);
  width: 22px;
}
.group-49 {
  background-size: 100% 100%;
  bottom: calc(22.16% - 4px);
  height: 20px;
  position: absolute;
  right: calc(34.85% - 8px);
  width: 22px;
}
.group-50 {
  background-size: 100% 100%;
  bottom: calc(22.16% - 4px);
  height: 20px;
  position: absolute;
  right: 221px;
  width: 22px;
}
.group-51 {
  background-size: 100% 100%;
  bottom: calc(22.16% - 4px);
  height: 20px;
  left: calc(41.92% - 9px);
  position: absolute;
  width: 22px;
}
.group-522 {
  background-size: 100% 100%;
  bottom: 1224px;
  height: 20px;
  left: calc(41.81% - 9px);
  position: absolute;
  width: 22px;
}
.group-532 {
  background-size: 100% 100%;
  bottom: 1224px;
  height: 20px;
  position: absolute;
  right: calc(34.96% - 8px);
  width: 22px;
}
.group-542 {
  background-size: 100% 100%;
  bottom: 1224px;
  height: 20px;
  position: absolute;
  right: 223px;
  width: 22px;
}
.group-55 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  position: absolute;
  right: 0px;
  top: 1px;
  width: 12px;
}
.group-65 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: calc(34.59% - 4px);
  position: absolute;
  top: 1px;
  width: 12px;
}
.group-74 {
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  right: calc(32.50% - 4px);
  top: 1px;
  width: 12px;
}
.group-87 {
  bottom: 295px;
  height: 12px;
  position: absolute;
  right: calc(29.40% - 23px);
  width: 79px;
}
.gucci-top-2-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: calc(40.20% - 166px);
  width: 420px;
}
.hats2 {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 501px;
  white-space: nowrap;
  width: 34px;
}
.jackets {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 462px;
  white-space: nowrap;
  width: 53px;
}
.log-in13 {
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(40.55% - 17px);
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 41px;
}
.membership8 {
  bottom: 203px;
  height: 18px;
  left: calc(22.69% - 16px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.nav10 {
  height: 79px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.pants2 {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 345px;
  white-space: nowrap;
  width: 40px;
}
.path-135 {
  height: calc(100.00% - 2px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: 13px;
}
.path-29210 {
  bottom: calc(12.57% - 1px);
  height: 7px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 13px;
}
.path-314 {
  height: calc(100.00% - 5px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 5px);
}
.path-324 {
  height: 3px;
  left: calc(49.94% - 2px);
  position: absolute;
  top: calc(49.94% - 2px);
  width: 3px;
}
.placeholder-person10 {
  border-radius: 14.5px;
  height: 29px;
  position: absolute;
  right: 205px;
  top: calc(50.00% - 14px);
  width: 29px;
}
.privacy-policy8 {
  bottom: 228px;
  height: 18px;
  left: calc(46.56% - 34px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 73px;
}
.products0003-vels-91-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: calc(40.20% - 166px);
  width: 420px;
}
.products0007-ayer-29-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: calc(40.20% - 166px);
  width: 420px;
}
.products0010-ayer-27-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: calc(47.55% - 196px);
  width: 420px;
}
.products0014-evels-5-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: calc(47.55% - 196px);
  width: 420px;
}
.products0015-ayer-25-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: calc(47.55% - 196px);
  width: 420px;
}
.products0020-ayer-22-600x600 {
  bottom: calc(45.10% - 186px);
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  width: 420px;
}
.products0024-ayer-20-600x600 {
  bottom: calc(45.10% - 186px);
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  width: 420px;
}
.products0026-ayer-19-600x600 {
  bottom: calc(45.10% - 186px);
  height: 412px;
  position: absolute;
  right: 198px;
  width: 420px;
}
.products0029-ayer-17-600x600 {
  bottom: calc(37.75% - 156px);
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  width: 420px;
}
.products0031-ayer-15-600x600 {
  bottom: calc(37.75% - 156px);
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  width: 420px;
}
.products0033-ayer-13-600x600 {
  bottom: calc(37.75% - 156px);
  height: 412px;
  position: absolute;
  right: 198px;
  width: 420px;
}
.products0035-ayer-11-600x600 {
  bottom: calc(30.41% - 125px);
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  width: 420px;
}
.products0038-layer-9-600x600 {
  bottom: calc(30.41% - 125px);
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  width: 420px;
}
.products0041-layer-7-600x600 {
  bottom: calc(30.41% - 125px);
  height: 412px;
  position: absolute;
  right: 198px;
  width: 420px;
}
.products0045-layer-5-600x600 {
  bottom: calc(23.06% - 95px);
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  width: 420px;
}
.products0047-layer-3-600x600 {
  bottom: calc(23.06% - 95px);
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  width: 420px;
}
.products0051-layer-1-600x600 {
  bottom: calc(23.06% - 95px);
  height: 412px;
  position: absolute;
  right: 198px;
  width: 420px;
}
.rectangle-247 {
  background-color: var(--black);
  bottom: 517px;
  height: 413px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.rectangle-25510 {
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-577 {
  background-color: var(--white);
  border-radius: 27px;
  bottom: 669px;
  height: 53px;
  left: calc(50.00% - 464px);
  position: absolute;
  width: 928px;
}
.rectangle-587 {
  background-color: var(--fire-bush);
  border-radius: 24px;
  bottom: 675px;
  height: 41px;
  position: absolute;
  right: calc(29.23% - 58px);
  width: 199px;
}
.rental-policy8 {
  bottom: 280px;
  height: 18px;
  left: calc(46.46% - 32px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.sign-up10 {
  height: 18px;
  left: calc(40.19% - 20px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 49px;
}
.span0-12 {
  color: rgba(0,0,0,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 20px;
  font-weight: 700;
}
.span010 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
}
.span1-1 {
  color: rgba(0,0,0,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
}
.span112 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-style: italic;
}
.span23 {
  color: rgba(231,148,42,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: italic;
}
.supream-1-600x600 {
  bottom: 1206px;
  height: 412px;
  left: calc(27.87% - 117px);
  position: absolute;
  width: 420px;
}
.terms-conditions8 {
  bottom: 254px;
  height: 18px;
  left: calc(47.41% - 50px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 106px;
}
.text-112 {
  height: 83px;
  left: calc(28.04% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: 686px;
  width: 422px;
}
.text-113 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.52% - 179px);
  top: 686px;
  width: 422px;
}
.text-114 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.52% - 179px);
  top: 1250px;
  width: 422px;
}
.text-115 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.52% - 179px);
  top: calc(22.65% - 19px);
  width: 422px;
}
.text-116 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.52% - 179px);
  top: calc(29.70% - 25px);
  width: 422px;
}
.text-117 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.52% - 179px);
  top: calc(36.75% - 30px);
  width: 422px;
}
.text-118 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.66% - 180px);
  top: calc(43.79% - 36px);
  width: 422px;
}
.text-119 {
  bottom: calc(49.16% - 41px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.66% - 180px);
  width: 422px;
}
.text-120 {
  bottom: calc(42.12% - 35px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.66% - 180px);
  width: 422px;
}
.text-121 {
  bottom: calc(35.07% - 29px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.59% - 180px);
  width: 422px;
}
.text-122 {
  bottom: calc(28.03% - 23px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.59% - 180px);
  width: 422px;
}
.text-123 {
  bottom: calc(20.98% - 17px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.66% - 180px);
  width: 422px;
}
.text-124 {
  bottom: 1118px;
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(42.66% - 180px);
  width: 422px;
}
.text-125 {
  height: 83px;
  left: calc(28.04% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: 1250px;
  width: 422px;
}
.text-126 {
  height: 83px;
  left: calc(28.04% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: calc(22.65% - 19px);
  width: 422px;
}
.text-127 {
  height: 83px;
  left: calc(28.04% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: calc(29.70% - 25px);
  width: 422px;
}
.text-128 {
  height: 83px;
  left: calc(28.04% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: calc(36.75% - 30px);
  width: 422px;
}
.text-129 {
  height: 83px;
  left: calc(27.90% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: calc(43.79% - 36px);
  width: 422px;
}
.text-130 {
  bottom: calc(49.16% - 41px);
  height: 83px;
  left: calc(27.90% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  width: 422px;
}
.text-131 {
  bottom: calc(42.12% - 35px);
  height: 83px;
  left: calc(27.90% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  width: 422px;
}
.text-132 {
  bottom: calc(35.07% - 29px);
  height: 83px;
  left: calc(27.97% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  width: 422px;
}
.text-133 {
  bottom: calc(28.03% - 23px);
  height: 83px;
  left: calc(27.97% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  width: 422px;
}
.text-134 {
  bottom: calc(20.98% - 17px);
  height: 83px;
  left: calc(27.90% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  width: 422px;
}
.text-135 {
  bottom: 1118px;
  height: 83px;
  left: calc(27.90% - 118px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  width: 422px;
}
.text-136 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 196px;
  top: 686px;
  width: 422px;
}
.text-137 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 196px;
  top: 1250px;
  width: 422px;
}
.text-138 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 196px;
  top: calc(22.65% - 19px);
  width: 422px;
}
.text-139 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 196px;
  top: calc(29.70% - 25px);
  width: 422px;
}
.text-140 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 196px;
  top: calc(36.75% - 30px);
  width: 422px;
}
.text-141 {
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 198px;
  top: calc(43.79% - 36px);
  width: 422px;
}
.text-142 {
  bottom: calc(49.16% - 41px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 198px;
  width: 422px;
}
.text-143 {
  bottom: calc(42.12% - 35px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 198px;
  width: 422px;
}
.text-144 {
  bottom: calc(35.07% - 29px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 197px;
  width: 422px;
}
.text-145 {
  bottom: calc(28.03% - 23px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 197px;
  width: 422px;
}
.text-146 {
  bottom: calc(20.98% - 17px);
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 198px;
  width: 422px;
}
.text-147 {
  bottom: 1118px;
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 198px;
  width: 422px;
}
.text-148 {
  bottom: 228px;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(25.50% - 45px);
  white-space: nowrap;
  width: 175px;
}
.text-149 {
  bottom: 234px;
  color: var(--gray);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 12px;
  height: 59px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(26.09% - 42px);
  width: 161px;
}
.text-150 {
  bottom: 683px;
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(30.11% - 45px);
  white-space: nowrap;
  width: 150px;
}
.text-151 {
  bottom: 680px;
  color: var(--silver);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  height: 22px;
  left: calc(30.96% - 55px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
  width: 179px;
}
.the-mercer-club-17 {
  bottom: calc(47.83% - 16px);
  height: 33px;
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  right: calc(49.94% - 109px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.the-mercer-club10 {
  bottom: 294px;
  height: 33px;
  left: calc(24.68% - 54px);
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.tops-11-600x600 {
  bottom: 1206px;
  height: 412px;
  position: absolute;
  right: calc(42.73% - 179px);
  width: 420px;
}
.tops2 {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: fixed;
  top: 306px;
  white-space: nowrap;
  width: 35px;
}
.view-product-logged-in-600x600 {
  bottom: 1206px;
  height: 412px;
  position: absolute;
  right: 200px;
  width: 420px;
}
.x156-a7675-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: 830px;
  width: 420px;
}
.x156-a7690-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: 830px;
  width: 420px;
}
.x156-a7693-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: 830px;
  width: 420px;
}
.x156-a7695-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: calc(18.16% - 75px);
  width: 420px;
}
.x156-a7711-2-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: calc(18.16% - 75px);
  width: 420px;
}
.x56-a7368-600x600 {
  height: 412px;
  left: calc(28.00% - 118px);
  position: absolute;
  top: 266px;
  width: 420px;
}
.x56-a7511-2-600x600 {
  height: 412px;
  position: absolute;
  right: calc(42.60% - 179px);
  top: 266px;
  width: 420px;
}
.x56-a7524-600x600 {
  height: 412px;
  position: absolute;
  right: 198px;
  top: 266px;
  width: 420px;
}
