.rectangle-165 {
  background-color: var(--black);
  border-radius: 1px;
  height: 100%;
  position: absolute;
  right: calc(50.00% - 2px);
  top: 0px;
  width: 3px;
}
.rectangle-166 {
  background-color: var(--black);
  border-radius: 1px;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 0px;
  transform: rotate(90deg);
  width: calc(100.00% - 17px);
}
.union-23 {
  bottom: calc(22.16% - 4px);
  left: unset;
  right: calc(37.00% - 7px);
  top: unset;
}
.union-24 {
  bottom: calc(22.16% - 4px);
  left: unset;
  right: 262px;
  top: unset;
}
.union-25 {
  bottom: calc(22.16% - 4px);
  top: unset;
}
.union-26 {
  bottom: 1224px;
  left: calc(39.68% - 8px);
  top: unset;
}
.union-27 {
  bottom: 1224px;
  left: unset;
  right: calc(37.11% - 7px);
  top: unset;
}
.union-28 {
  bottom: 1224px;
  left: unset;
  right: 264px;
  top: unset;
}
.union-6 {
  height: 20px;
  left: calc(39.79% - 8px);
  position: absolute;
  top: 640px;
  width: 20px;
}
.union-6-1 {
  left: unset;
  right: calc(37.00% - 7px);
}
.union-6-10 {
  left: unset;
  right: calc(37.00% - 7px);
  top: calc(28.90% - 6px);
}
.union-6-11 {
  left: unset;
  right: 262px;
  top: calc(28.90% - 6px);
}
.union-6-12 {
  top: calc(35.89% - 7px);
}
.union-6-13 {
  left: unset;
  right: calc(37.00% - 7px);
  top: calc(35.89% - 7px);
}
.union-6-14 {
  left: unset;
  right: 262px;
  top: calc(35.89% - 7px);
}
.union-6-15 {
  top: calc(42.89% - 9px);
}
.union-6-16 {
  left: unset;
  right: calc(37.00% - 7px);
  top: calc(42.89% - 9px);
}
.union-6-17 {
  left: unset;
  right: 262px;
  top: calc(42.89% - 9px);
}
.union-6-18 {
  top: calc(49.88% - 10px);
}
.union-6-19 {
  left: unset;
  right: calc(37.00% - 7px);
  top: calc(49.88% - 10px);
}
.union-6-2 {
  left: unset;
  right: 262px;
}
.union-6-20 {
  left: unset;
  right: 262px;
  top: calc(49.88% - 10px);
}
.union-6-21 {
  bottom: calc(43.13% - 9px);
  top: unset;
}
.union-6-22 {
  bottom: calc(43.13% - 9px);
  left: unset;
  right: calc(37.00% - 7px);
  top: unset;
}
.union-6-23 {
  bottom: calc(43.13% - 9px);
  left: unset;
  right: 262px;
  top: unset;
}
.union-6-24 {
  bottom: calc(36.14% - 7px);
  top: unset;
}
.union-6-25 {
  bottom: calc(36.14% - 7px);
  left: unset;
  right: calc(37.00% - 7px);
  top: unset;
}
.union-6-26 {
  bottom: calc(36.14% - 7px);
  left: unset;
  right: 262px;
  top: unset;
}
.union-6-27 {
  bottom: calc(29.15% - 6px);
  top: unset;
}
.union-6-28 {
  bottom: calc(29.15% - 6px);
  left: unset;
  right: calc(37.00% - 7px);
  top: unset;
}
.union-6-29 {
  bottom: calc(29.15% - 6px);
  left: unset;
  right: 262px;
  top: unset;
}
.union-6-3 {
  top: 1204px;
}
.union-6-4 {
  left: unset;
  right: calc(37.00% - 7px);
  top: 1204px;
}
.union-6-5 {
  left: unset;
  right: 262px;
  top: 1204px;
}
.union-6-6 {
  top: calc(21.91% - 4px);
}
.union-6-7 {
  left: unset;
  right: calc(37.00% - 7px);
  top: calc(21.91% - 4px);
}
.union-6-8 {
  left: unset;
  right: 262px;
  top: calc(21.91% - 4px);
}
.union-6-9 {
  top: calc(28.90% - 6px);
}
