.group-172 {
  height: 100%;
  left: -101.43%;
  position: relative;
  width: 97.43%;
}
.mask-group-12 {
  height: calc(100.00% - 2px);
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 100%;
}
