.email {
  letter-spacing: 0.00px;
  line-height: 10px;
  margin-bottom: -1px;
  min-height: 16px;
  min-width: 26px;
  white-space: nowrap;
}
.group-16 {
  margin-left: 11px;
  position: relative;
}
.group-163 {
  align-items: unset;
  display: unset;
  height: 100%;
  left: 51.61%;
  margin-left: unset;
  min-width: unset;
  padding: unset;
  position: absolute;
  top: 0px;
  width: 48.39%;
}
.group-163-1 {
  align-items: unset;
  display: unset;
  height: 100%;
  left: 68.09%;
  margin-left: unset;
  min-width: unset;
  padding: unset;
  position: absolute;
  top: 0px;
  width: 31.91%;
}
.group-164 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 19px;
  margin-left: -355px;
  min-width: 165px;
  padding: 0 8px;
}
.group-164-1 {
  align-items: unset;
  display: unset;
  height: 100%;
  left: 34.04%;
  margin-left: unset;
  min-width: unset;
  padding: unset;
  position: absolute;
  top: 0px;
  width: 31.91%;
}
.group-1642 {
  align-items: unset;
  display: unset;
  height: 100%;
  left: 0px;
  margin-left: unset;
  min-width: unset;
  padding: unset;
  position: absolute;
  top: 0px;
  width: 48.39%;
}
.group-174 {
  margin-left: unset;
  position: relative;
}
.group-1742 {
  align-items: unset;
  display: unset;
  height: 100%;
  left: 0px;
  margin-left: unset;
  min-width: unset;
  padding: unset;
  position: absolute;
  top: 0px;
  width: 31.91%;
}
