.group-52 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  position: absolute;
  right: 0px;
  top: 1px;
  width: 12px;
}
.group-62 {
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: calc(34.59% - 4px);
  position: absolute;
  top: 1px;
  width: 12px;
}
.group-82 {
  bottom: 297px;
  height: 12px;
  position: absolute;
  right: calc(29.40% - 23px);
  width: 79px;
}
.group-83 {
  bottom: 294px;
}
.group-84 {
  bottom: 295px;
}
.path-132 {
  height: calc(100.00% - 2px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 13px;
}
