.a-deliveryall-deli {
  color: var(--gravel);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 15px;
  height: 286px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(39.16% - 112px);
  width: 640px;
}
.a-no-indirect-damag {
  bottom: calc(41.23% - 73px);
  color: var(--gravel);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 15px;
  height: 176px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.a-receipt-of-the-pr {
  color: var(--gravel);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 15px;
  height: 655px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(49.76% - 326px);
  width: 640px;
}
.about-us3 {
  bottom: 253px;
  height: 18px;
  left: calc(22.47% - 11px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 51px;
}
.b-limited-direct-da {
  bottom: calc(40.63% - 98px);
  color: var(--gravel);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 15px;
  height: 242px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  width: 640px;
}
.browse4 {
  bottom: 279px;
  height: 18px;
  left: calc(22.34% - 9px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 40px;
}
.c-cleaningall-prod {
  color: var(--gravel);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 15px;
  height: 308px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(39.29% - 121px);
  width: 640px;
}
.contact-us3 {
  bottom: 152px;
  height: 18px;
  left: calc(22.58% - 14px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 60px;
}
.d-emailwe-will-use {
  color: var(--gravel);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 15px;
  height: 528px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(48.73% - 257px);
  width: 640px;
}
.editorial4 {
  bottom: 177px;
  height: 18px;
  left: calc(22.40% - 10px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 45px;
}
.email-subscription3 {
  bottom: 750px;
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  left: calc(49.05% - 144px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 294px;
}
.fa-qs3 {
  bottom: 227px;
  height: 18px;
  left: calc(22.21% - 6px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 29px;
}
.faq3 {
  height: 22px;
  left: calc(22.17% - 7px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 30px;
}
.img7544 {
  height: 413px;
  left: 200px;
  position: absolute;
  top: 375px;
  width: calc(100.00% - 406px);
}
.in-addition-at-the {
  height: 374px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(30.82% - 115px);
  width: 640px;
}
.line-42 {
  height: 5px;
  left: calc(28.67% - 27px);
  position: absolute;
  top: 286px;
  width: 94px;
}
.log-in8 {
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(40.55% - 17px);
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 41px;
}
.membership4 {
  bottom: 202px;
  height: 18px;
  left: calc(22.69% - 16px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.nav6 {
  height: 79px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.our-products-may-be {
  height: 220px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: 204px;
  top: calc(23.96% - 53px);
  width: 640px;
}
.path-2926 {
  bottom: calc(12.57% - 1px);
  height: 7px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 13px;
}
.placeholder-person6 {
  border-radius: 14.5px;
  height: 29px;
  position: absolute;
  right: 205px;
  top: calc(50.00% - 14px);
  width: 29px;
}
.privacy-policy-12 {
  bottom: 227px;
  height: 18px;
  left: calc(46.56% - 34px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 73px;
}
.privacy-policy3 {
  height: 22px;
  left: calc(37.49% - 34px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 90px;
}
.ray-tiller-j-du-rftv-m-unsplash {
  bottom: calc(20.96% - 282px);
  height: 1343px;
  position: absolute;
  right: 206px;
  width: 638px;
}
.rectangle-243 {
  background-color: var(--black);
  bottom: 516px;
  height: 413px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.rectangle-2556 {
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-573 {
  background-color: var(--white);
  border-radius: 27px;
  bottom: 668px;
  height: 53px;
  left: calc(50.00% - 464px);
  position: absolute;
  width: 928px;
}
.rectangle-583 {
  background-color: var(--fire-bush);
  border-radius: 24px;
  bottom: 674px;
  height: 41px;
  position: absolute;
  right: calc(29.23% - 58px);
  width: 199px;
}
.rental-policy-12 {
  height: 22px;
  left: calc(28.66% - 24px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 85px;
}
.rental-policy-2 {
  bottom: 279px;
  height: 18px;
  left: calc(46.46% - 32px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 69px;
}
.rental-policy3 {
  background-color: var(--white);
  height: 100vh;
  min-height: 6667px;
  min-width: 1920px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.rental-policy4 {
  color: var(--black-haze);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 200px;
  font-weight: 900;
  height: 479px;
  left: -18px;
  letter-spacing: 1.60px;
  line-height: 184px;
  opacity: 0.7;
  position: absolute;
  top: 885px;
  width: calc(100.00% - 38px);
}
.sign-up6 {
  height: 18px;
  left: calc(40.19% - 20px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 49px;
}
.span {
  color: rgba(0,0,0,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-weight: 700;
}
.span-1 {
  color: rgba(74,74,74,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
}
.span03 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
}
.span13 {
  color: rgba(126,126,126,1.0);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-style: italic;
}
.terms-conditions-12 {
  bottom: 253px;
  height: 18px;
  left: calc(47.41% - 50px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  width: 106px;
}
.terms-conditions3 {
  height: 22px;
  left: calc(46.87% - 62px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: 260px;
  white-space: nowrap;
  width: 132px;
}
.text-36 {
  height: 22px;
  left: calc(49.76% - 536px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(22.85% - 5px);
  white-space: nowrap;
  width: 1078px;
}
.text-37 {
  height: 22px;
  left: 419px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(28.80% - 6px);
  white-space: nowrap;
  width: calc(100.00% - 623px);
}
.text-38 {
  height: 29px;
  left: 419px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(37.10% - 11px);
  white-space: nowrap;
  width: calc(100.00% - 623px);
}
.text-39 {
  height: 29px;
  left: 419px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(44.52% - 13px);
  white-space: nowrap;
  width: calc(100.00% - 623px);
}
.text-40 {
  bottom: calc(43.08% - 12px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(44.72% - 520px);
  white-space: nowrap;
  width: 1162px;
}
.text-41 {
  bottom: 227px;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(25.50% - 45px);
  white-space: nowrap;
  width: 175px;
}
.text-42 {
  bottom: 233px;
  color: var(--gray);
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 12px;
  height: 59px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(26.09% - 42px);
  width: 161px;
}
.text-43 {
  bottom: 682px;
  color: var(--white);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(30.11% - 45px);
  white-space: nowrap;
  width: 150px;
}
.text-44 {
  bottom: 680px;
  color: var(--silver);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  height: 22px;
  left: calc(30.96% - 55px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
  width: 179px;
}
.the-mercer-club-13 {
  bottom: calc(47.83% - 16px);
  height: 33px;
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  right: calc(49.94% - 109px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.the-mercer-club6 {
  bottom: 293px;
  height: 33px;
  left: calc(24.68% - 54px);
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.the-rental-fee-ren {
  height: 198px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(30.14% - 60px);
  width: 640px;
}
.these-terms-and-cond {
  color: var(--black);
  font-family: 'Overpass', Helvetica, Arial, serif;
  font-size: 20px;
  height: 359px;
  left: 419px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: calc(16.00% - 57px);
  width: calc(100.00% - 623px);
}
.this-agreement-const {
  bottom: calc(23.38% - 186px);
  height: 797px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  width: 640px;
}
.this-agreement-conta {
  height: 176px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  top: calc(23.95% - 42px);
  width: 640px;
}
.x6-miscellaneous {
  bottom: calc(32.79% - 10px);
  height: 29px;
  left: calc(32.73% - 210px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
  width: 640px;
}
