.categories {
  color: var(--gray);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: italic;
  height: 18px;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  top: calc(43.55% - 8px);
  white-space: nowrap;
  width: 60px;
}
.ff3672-b4-b07-d-92-f2-cef10jpeg {
  bottom: 150px;
  height: 383px;
  position: absolute;
  right: 206px;
  width: 637px;
}
.img2584 {
  height: calc(100.00% - 300px);
  left: calc(42.54% - 178px);
  position: absolute;
  top: 150px;
  width: 418px;
}
.img3258 {
  bottom: 150px;
  height: 383px;
  left: 201px;
  position: absolute;
  width: 418px;
}
.last-cahnce {
  color: var(--gray);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: italic;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 93px;
  top: calc(43.55% - 8px);
  white-space: nowrap;
  width: 68px;
}
.log-in4 {
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(40.55% - 17px);
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 41px;
}
.name2 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  height: 124px;
  left: calc(17.92% - 17px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(34.99% - 43px);
  width: 95px;
}
.nav3 {
  height: 79px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.new-arrivals {
  background-color: var(--white);
  height: 100vh;
  min-height: 1080px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}
.new-arrivals2 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 50px;
  font-weight: 700;
  height: 71px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  top: calc(23.24% - 17px);
  white-space: nowrap;
  width: 392px;
}
.path-292-12 {
  bottom: calc(12.57% - 1px);
  height: 7px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 13px;
}
.path-2923 {
  height: 30px;
  position: absolute;
  right: 114px;
  top: calc(41.00% - 12px);
  width: 16px;
}
.path-4242 {
  height: 30px;
  left: 117px;
  position: absolute;
  top: calc(41.00% - 12px);
  width: 16px;
}
.placeholder-person3 {
  border-radius: 14.5px;
  height: 29px;
  position: absolute;
  right: 205px;
  top: calc(50.00% - 14px);
  width: 29px;
}
.products-from {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  height: 43px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(29.12% - 13px);
  white-space: nowrap;
  width: 217px;
}
.rectangle-2553 {
  background-color: var(--white);
  box-shadow: -5px 0px 15px rgba(0,0,0,0.051);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.sign-up3 {
  height: 18px;
  left: calc(40.19% - 20px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: calc(47.54% - 9px);
  white-space: nowrap;
  width: 49px;
}
.text-18 {
  color: var(--black);
  font-family: 'Nunito Sans', Helvetica, Arial, serif;
  font-size: 12px;
  height: 124px;
  left: 198px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  top: calc(34.99% - 43px);
  width: 91px;
}
.the-mercer-club3 {
  bottom: calc(47.83% - 16px);
  height: 33px;
  letter-spacing: 0.28px;
  line-height: 23px;
  position: absolute;
  right: calc(49.94% - 109px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.x32-d8-e5-b4-3-e-de5-ddcec2jpeg2 {
  height: 383px;
  position: absolute;
  right: 206px;
  top: 150px;
  width: 637px;
}
